p.comments {
	font-size: 0.9em;
	color: rgb(101, 139, 101);
	background-color: transparent;
}
p.comments a {
	font-weight: bold;
	color: rgb(101, 139, 101);
	background-color: transparent;
}
*/
div.comment {
	margin-left: 5%;
	margin-right: 12%;
	background-color: rgb(240, 240, 240);
}
div.comment h3 {
	padding-left: 1%;
	margin: 0;
	font-size: 1em;
	background-color: rgb(210, 210, 210);
}
div.comment .logtext p {
	margin: 0;
	padding: 2%;
}

.newComment input[type=text] {
	width: 80%;
}