div.log + div.log {
	margin-top: 2em;
}
div.log h2 {
	margin-bottom: 0;
	line-height: 1.5em;

	font-size: 0.9em;
	
	color: rgb(128, 128, 128);
	background-color: transparent;
}
div.log a.permalink {
	text-decoration: none;
	color: rgb(128, 128, 128);
	background-color: transparent;
}
/*div.log a.permalink:after {
	content: " (link)";
}*/
div.log p.title {
	font-size: 1.5em;
	font-family: "Cochin", serif;
	
	margin-top: 0;
	
	color: rgb(57, 82, 107);
	background-color: transparent;
}
div.log p.title input { width: 90% }
div.log p.title a {
	color: rgb(57, 82, 107);
	background-color: transparent;
}
div.log h2 + p.title {
	padding-bottom: 0.25em;
	border-bottom: 1px dotted rgb(96, 96, 96);
}
div.log a {
	color: rgb(51, 85, 136);
	background-color: transparent;
}
div.log p.comments {
	font-size: 0.9em;
	color: rgb(101, 139, 101);
	background-color: transparent;
}
div.log p.comments a {
	font-weight: bold;
	color: rgb(101, 139, 101);
	background-color: transparent;
}
.postEditor { height: 30em }
.logtext {
	font-family:
		"Georgia",
		"Book Antiqua",
		sans-serif;
		
	margin-left: 5%;
	margin-right: 3%;
}
p.song, p.quote, p.tags {
	clear: left;
	font-size: 0.9em;
	color: rgb(96, 96, 96);
	background-color: transparent;
}
p.tags input, p.tags .dijitTextBox { width: 90% }
p.song a, p.quote a, p.tags a {
	color: rgb(96, 96, 96);
	background-color: transparent;
}
p.song span, p.quote span {
	display: block;
	width: 25%;
	border-bottom: 1px dotted rgb(192, 192, 192);
	font-weight: bold;
}
div.log img {
	max-width: 100%;
}

.thread h3 {
	font-size: 100%;
}
.thread li {
	font-family:
		"Georgia",
		"Book Antiqua",
		sans-serif;
	list-style-type: none;
}