.post {
	margin-bottom: 4em;
}

.profile-user-info {
	margin-top: 1em;
	text-align: left;
}
.profile-user-info li {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* ******************************************************************************
 * Threads
********************************************************************************/

.thread-info {
	margin: 1em 2em;
}
.thread-info .widget-header h5 {
	line-height: 20px;
	font-size: 14px;
}
.thread-info .widget-header {
	min-height: 0;
}
.thread-info .self-link a {
	color: black;
}