
.xspPagerNav {
	text-align: left;
	float: left;
	padding-left: 5px;
}


.xspPagerContainer {
	background-color: #f3f3f3;
	border-collapse: collapse;
	width: 100%;
	position: relative;
}
.xspPager {
	float: right;
	padding: 4px 0px 0px 0px;
	text-align: center;
	font-size: .9em;
	color: #848484;
	background-color: #f3f3f3;
}
.xspPagerLeft {
	float: left;
	padding: 4px 0px 0px 0px;
	text-align: center;
	font-size: .9em;
	color: #848484;
	background-color: #f3f3f3;
}
.xspPagerRight {
	float: right;
	padding: 4px 0px 0px 0px;
	text-align: center;
	font-size: .9em;
	color: #848484;
	background-color: #f3f3f3;
}
.xspPagerNav {
	color: #848484;
}

.xspStatus {
color: #848484;
font-weight: normal;
}
.xspSeparator {
color: #848484;
font-weight: normal;
}
.xspGroup span {
margin: 0px;
padding: 0px;
}
.xspGroup span span {
color: #848484;
display: inline;
margin: 0px;
padding: 0px 7px;
border-color: #cccccc;
}
.xspGroup span span.xspFirstItem {
}
.xspGroup span span.xspLastItem {
}
.xspGroup span span a, .xspGroup span span a:visited {
color: #105cb6;
font-weight: bold !important;
text-decoration: none;
}
.xspGroup span span a:hover, .xspGroup span span a:focus, .xspGroup span span a:active {
font-weight: bold !important;
text-decoration: underline;
}
.xspGroup span span.xspCurrentItem {
color: #848484;
}
.xspFirst a, .xspFirst a:visited {
color: #105cb6;
font-weight: bold !important;
text-decoration: none;
}
.xspFirst a:hover, .xspFirst a:focus, .xspFirst a:active {
font-weight: bold !important;
text-decoration: underline;
}
.xspFirst .xspCurrentItem {
color: #848484;
}
.xspPrevious a, .xspPrevious a:visited {
color: #105cb6;
font-weight: bold !important;
text-decoration: none;
}
.xspPrevious a:hover, .xspPrevious a:focus, .xspPrevious a:active {
font-weight: bold !important;
text-decoration: underline;
}
.xspPrevious .xspCurrentItem {
color: #848484;
}
.xspNext a, .xspNext a:visited {
color: #105cb6;
font-weight: bold !important;
text-decoration: none;
}
.xspNext a:hover, .xspNext a:focus, .xspNext a:active {
font-weight: bold !important;
text-decoration: underline;
}
.xspNext .xspCurrentItem {
color: #848484;
}
.xspLast a, .xspLast a:visited {
color: #105cb6;
font-weight: bold !important;
text-decoration: none;
}
.xspLast a:hover, .xspLast a:focus, .xspLast a:active {
font-weight: bold !important;
text-decoration: underline;
}
.xspLast .xspCurrentItem {
color: #848484;
}
.xspGoto a, .xspGoto a:visited {
color: #105cb6;
font-weight: bold !important;
text-decoration: none;
}
.xspGoto a:hover, .xspGoto a:focus, .xspGoto a:active {
font-weight: bold !important;
text-decoration: underline;
}
.xspGoto input {
width: 20px;
text-align: center;
color: #848484;
}
.xspGoto .xspCurrentItem {
color: #848484;
}


.xspDataTableCaption {
font-weight: bold;
text-align: center;
color: #666666;
}
.xspDataTable {
border: 0px;
padding: 0px;
margin: 0px 4px 0px 4px !important;
width: 100%;
border-collapse: collapse
}
.xspDataTable thead tr {
font-weight: normal;
vertical-align: baseline;
}
.xspDataTable tbody tr td {
border-top: 1px solid #e8e8e9;
font-weight: normal;
vertical-align: baseline;
}
.xspDataTableRowUnread * {
font-weight: bold;
}
.xspDataTableRowRead * {
font-weight: normal;
}
.xspColumnRead {
background: none;
}