.crud {
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-gap: 0.5em;
}
.crud input[type='text'], .crud input[type='email'], .crud textarea,
.crud-list input[type='text'], .crud-list input[type='email'], .crud-list textarea {
	padding: 0.5em;
	font-family: sans-serif;
	border-radius: 0.5em;
	border: 1px solid grey;
	box-shadow: inset 0 0 0.25em lightgrey;
}
.crud textarea {
	resize: vertical;
	height: 20em;
}
.new-comment.crud textarea {
	height: 5em;
}

.crud-list {
	dislay: table;
	width: 100%;
}
.crud-list > div, .crud-list > form {
	display: table-row;
}
.crud-list > div > *, .crud-list > form > * {
	display: table-cell;
	padding: 0.25em;
}
.crud-list input[type='text'], .crud-list input[type='email'], .crud-list textarea {
	width: 100%;
}

.search {
	display: grid;
	grid-template-columns: 1fr 2em;
}
.search input[type='text'] {
	padding: 0.5em;
	font-size: 1.4em;
}
.search [type='submit'] {
	border: 0;
	background: transparent;
	font-size: 2em;
}