.selectable, *[contenteditable] {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: text !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;
}

body .ql-container {
	padding: 0 15px;
}